
main {
    padding:70px 0px;
    padding-bottom: 200px;
}

.top-resume {
    top: 0px;
    position:fixed;
    width: 100%;
    background: #FFF;
}

.bottom-buttons {
    bottom: 0px;
    position:fixed;
    width: 100%;
    background: #FFF;
}