section[exemplo] {
    position:absolute;
    visibility:hidden;
}

section[exemplo].show {
    position:relative;
    visibility:visible;
}


html {
    font-size: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}