<table class="mobile-table">
    <thead>
        <tr>
            <th colspan="5">ATIVO</th>
        </tr>
        <tr>
            <th>Ações</th>
            <th>Variação</th>
            <th>Preço + Variação</th>
            <th>Quantidade</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="stock-ticket"></td>
            <td class="stock-variation"></td>
            <td class="stock-price"></td>
            <td class="stock-quantity" width="100px"><input type="number"></td>
            <td class="stock-total"></td>
        </tr>
    </tbody>
</table>