table.mobile-table {
    width: 100%;
    font-size: .7rem;
}

table.mobile-table tr th, acoes table tr td {
    padding: 10px;
}

.example {
    margin : 10px 0;
    padding: 10px;
    background: #DDD;
    border: 1px dashed #755
}

.example button {
    margin: 5px;
}