
html {
    font-size: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main {
    padding: 10px;
}

.mobile-table {
    width: 100%;
    font-size: .7rem;
}

.example {
    margin : 10px 0;
    padding: 10px;
    background: #DDD;
    border: 1px dashed #755
}

.example button {
    margin: 5px;
}