<div>
    <h2>Nova transação</h2>
    <span id="mensagemAlerta"></span>
    <form id="formularioNovatransacao">
        <label for="tipoTransacao">Tipo de transação:  </label>
        <select id="tipoTransacao" name="tipoTransacao">
                <option value="pagamento">Pagamento</option>
                <!-- <option value="compraImovel">Compra Imóvel</option>
                <option value="vendaImovel">Venda Imóvel</option>
                <option value="compraNegocio">Compra Negócio</option>
                <option value="vendaNegocio">Venda Negócio</option> -->
                <option value="outros">Outros</option>
            </select><br><br>
            
            <div id="outroContainer">
                <label for="outroDescricao">Descreve outro:</label>
                <input type="text" id="outroDescricao" name="outroDescricao" placeholder="Descrição da transação"><br><br>
            </div>
            
            <div id="containerValorUnitario">
                <label for="valorUnitario">Saldo:</label>
                <input type="number" id="valorUnitario" name="valorUnitario" placeholder="Valor da transação"><br><br>
            </div>

            <div id="containerValorRecorrente">
                <label for="valorRecorrente">Receitas/Gastos:</label>
                <input type="number" id="valorRecorrente" name="valorRecorrente" placeholder="Valor Recorrente"><br><br>
            </div>

            <div id="containerRendaPassiva">
                <input type="checkbox" id="rendaPassiva" name="rendaPassiva value="Renda Passiva">
                <label for="rendaPassiva">Renda Passiva</label><br>
            </div>
        </form>    
    </div>
    