<table class="mobile-table">
    <thead>
        <tr class="gray-row">
            <th>Ações</th>
            <th>Variação</th>
            <th>Preço + Variação</th>
            <th>Compra/Venda</th>
        </tr>
    </thead>

    <tbody>
        <tr class="stock-APPL3">
            <td class="stock-ticket">APPL3 <span class="stock-quantity"></span></td>
            <td class="stock-variation">----</td>
            <td class="stock-final-price">R$ 25,00</td>
            <td class="stock-order">ORDEM</td>
        </tr>
        
        <tr class="stock-VAL3">
            <td class="stock-ticket">VAL3 <span class="stock-quantity"></span></td>
            <td class="stock-variation"> ---- </td>
            <td class="stock-final-price"> R$ 25,00 </td>
            <td class="stock-order"> ORDEM </td>
        </tr>
        
        <tr class="stock-BB4S">
            <td class="stock-ticket">BB4S <span class="stock-quantity"></span></td>
            <td class="stock-variation">----</td>
            <td class="stock-final-price">R$ 25,00</td>
            <td class="stock-order">ORDEM</td>
        </tr>
        
        <tr class="stock-AMZ4">
            <td class="stock-ticket">AMZ4 <span class="stock-quantity"></span></td>
            <td class="stock-variation">----</td>
            <td class="stock-final-price">R$ 25,00</td>
            <td class="stock-order">ORDEM</td>
        </tr>
    </tbody>
</table>