
table[acoes] {
    border: none;
    border-collapse: collapse;
}

table[acoes] tr th, table[acoes] tr td {
    padding: 10px;
}

table[acoes] .td-black {
    color: #FFF;
    background-color: black;
    text-align: center;
    font-weight: bold;
}

table[acoes] .td-stock {
    color: #000;
    color: #FFF;
    font-weight: bold;
}

table[acoes] .td-stock-APPL3 {
    background-color:blue;
}

table[acoes] .td-stock-VAL3 {
    background-color:green;
}

table[acoes] .td-stock-BB4S {
    background-color:red;
}

table[acoes] .td-stock-AMZ4 {
    background-color:orange;
}

table[acoes] tr.gray-row th {
    background-color:gray;
    color: #FFF;
}

table[acoes] .td-button {
    background-color:midnightblue;
    text-align: center;
    color: #FFF;
    font-weight: bold;
}

table[acoes] .td-button:hover {
    
}


