
acoes table {
    border: none;
    border-collapse: collapse;
}

acoes table .td-black {
    color: #FFF;
    background-color: black;
    text-align: center;
    font-weight: bold;
}

acoes table .stock-ticket {
    color: #FFF;
    background-color: #AAA;
    font-weight: bold;
    white-space: nowrap;
}

acoes table tr.gray-row th {
    background-color:gray;
    color: #FFF;
}

acoes table .stock-variation,
acoes table .stock-order {
    background-color:midnightblue;
    text-align: center;
    color: #FFF;
    font-weight: bold;
}

