
historico-transacao table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

historico-transacao td, historico-transacao th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 1px;
}

historico-transacao tr:nth-child(even) {
  background-color: #dddddd;
}

historico-transacao thead tr {
  font-weight: bold;
}

historico-transacao tbody tr {
  font-weight: normal;
  border-style: solid;
  border-color: black;
}
