 
 .pagamento .rendaPassiva .saldo{
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px; 
}

.pagamento {  
    background-color: rgb(169, 100, 233); 
}

.rendaPassiva {  
    background-color: rgb(181, 238, 83); 
}

.saldo {  
    background-color: rgb(83, 238, 106); 
}



