 
 resumo table tr th   {
    background-color: rgb(57, 10, 212);
    font-weight: bold;
    font-size: 20px;
}
resumo table thead tr th{
    font-size: 13px;
}
resumo table tbody tr td{
    
    color: #090
}

.pagamento {  
    background-color: rgb(208, 176, 238);
    font-weight: bold; 
} 


.rendaPassiva {  
    background-color: rgb(208, 234, 164); 
    font-weight: bold; 
}

.saldo {  
    background-color: rgb(167, 232, 176);
    font-weight: bold; 
}



