
receitas table
{  
    background-color: gray;  
    border : 2px;
    border-style: solid;
    border-color: rgb(16, 138, 16);  
}
receitas table tbody tr
{  
    background-color:#FFF;  
}

receitas table thead tr th {
    background-color: rgb(118, 207, 59)!important;
    color: #FFF; 
    font-weight: bold;
    font-size: 20px;
}

receitas table tbody tr td { 
    border: 1px solid blue;   
    text-align: center; 
    font-size:15px;
    font-weight: bold;  
}  

/* receitas table .value{ 
    text-align: center; 
    text-size-adjust: 10px;
    font-weight: bold;
}   */

receitas table tbody td {  
    font-weight: bold;
    font-size:12px;
}

receitas table tfoot td { 
    background-color: rgb(239, 239, 240);
    color:  rgb(42, 156, 0); 
    font-weight: bold; 
    font-size:17px;
}

receitas select option{
    font-weight: bold;
    font: size 15;
}

receitas button{ 
    font-weight: bold;
    font: size 15;
}


receitas table .receitasRemoved{ 
    text-decoration: line-through;
    font-size:12px;
    background-color: rgb(191, 209, 167);
}  

receitas .selector{ 
    background-color: rgb(224, 252, 197);
    width: 13em;
    height: 1.6em;
    font-size:18px;
}

receitas input{ 
    background-color: rgb(224, 252, 197);
    width: 13em;
    height: 1.6em;
    font-size:18px;
}

receitas button{ 
    /*  background-color: rgb(224, 252, 197); */
    width: 13em;
    height: 2em;
    font-size:18px;
}