 <table class="mobile-table" id="tabela">
    <thead>
        <tr>
            <th id="row1" class="td-black" colspan="2" ><h6>Resceitas</h6></th>
        </tr>
    </thead>
    
    <tbody id="Tbody">  
    </tbody> 
    
    <tfoot class="tfoot"> 
        <td class="key">Total :</td> 
        <td class="value" id="total">000</td>   
    </tfoot> 
    <label>
        <select id="receitaSelect">
            <option value="imovel">Imóvel Residencial</option>
            <option value="1">teste 2</option>
            <option value="1">teste 3</option>
        </select> 
        <input type="text" placeholder="Receita" class="mobile-table" id="receita"></input> 
        <input type="number" placeholder="valor" class="mobile-table" id="valor"></input> 
    </label> 
    <button  id="addReceita" class="mobile-table" >adicionar Receita </button> 
    
    
</table> 