 <table class="mobile-table" id="receitasTabela">
    <thead>
        <tr>
            <th id="thType" class="td-black" colspan="1" >Tipos</th>
            <th id="row1" class="td-black" colspan="1" >Receitas</th>
        </tr>
    </thead>
    
    <tbody id="tbodyReceitas">  
    </tbody> 
    
    <tfoot class="tfoot"> 
        <td class="key">Total de Receita:</td> 
        <td class="value" id="totalReceita">000</td>   
    </tfoot> 
    <label>
        <select id="selectReceita" placeholder="Receita" class="selector" >
            <option value="salario">Salário</option>
            <option value="aumento">Aumento</option>
            <option value="imovel">Imóvel</option>
            <option value="negocio">Negócio</option>
            <option value="renda">Renda Fixa</option>
        </select>  
        <input type="number" placeholder="valor" id="valorReceitas"></input> 
        <button  id="addReceita">Adicionar Receita </button> 
    </label> 
    
    
    
</table> 