<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> 
    <h2>Receitas</h2>
    <table class="mobile-table" id="tabela">
        <tr>
            <th class="td-black" colspan="2" >Resceitas</th>
        </tr>
        
        <tr class ="salario"> 
            <td > Salario :</td> 
            <td >555 </td>    
        </tr>
        
        <tr class ="aumento"> 
            <td>Aumento : </td> 
            <td>444 </td>   
        </tr> 
        
        <tr class ="pgNegocio"> 
            <td>Negocio : </td> 
            <td>333 </td>   
        </tr> 
        <tr class ="imovel"> 
            <td>Imovel : </td> 
            <td>222 </td>   
        </tr> 
        
        <tr class="total"> 
            <td >Total : </td> 
            <td id="total2">000</td>   
        </tr> 
    </table>
    <script src="receitas.js"></script>
</body>
</html>