
button[bp] {
    background-color: gray;
    line-height: 50px;
    padding: 5px 10px;
    display:block;
    color: #FFF;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    margin: 5px 0;
}

button[bp]:hover {
    background-color: dargray;
}



