
gastos table
{ 
    background-color: gray;  
    border : 2px;
    border-style: solid;
    border-color: rgb(138, 16, 16);  
}

gastos table tbody tr
{  
    background-color:#FFF;  
}


gastos table thead tr th {
    background-color: rgb(220, 56, 38);
    color: #FFF; 
    font-weight: bold;
    font-size: 20px;
}

gastos table tbody tr td { 
    border: 1px solid blue;  
    text-align: center; 
    font-size:15px;
    font-weight: bold;
}

gastos table tfoot td { 
    background-color: rgb(239, 239, 240);
    color:  rgb(143, 7, 0); 
    text-align: center; 
    font-weight: bold; 
    font-size:17px;
}

/* #totalGastos{
    text-align: left; 
} */

gastos table tbody .gastosRemoved{
    text-decoration: line-through;
    font-size:12px;
    background-color: rgb(146, 119, 119);
}  

gastos .selector{ 
    background-color: rgb(224, 252, 197);
    width: 13em;
    height: 1.6em;
    font-size:18px;
}

gastos input{ 
    background-color: rgb(224, 252, 197);
    width: 13em;
    height: 1.6em;
    font-size:18px;
}

gastos button{ 
    /*  background-color: rgb(224, 252, 197); */
    width: 13em;
    height: 2em;
    font-size:18px;
}