<table  class="mobile-table tabelaGastos" id="gastosTabela" >
    <thead>
        <tr>
            <th id="thType" class="td-black" colspan="1" >Tipos</th>
            <th id="thGastos" class="td-black" colspan="1" >Gastos</th>
            <th id="thDividas" class="td-black" colspan="1" >Dividas</th>
        </tr>
    </thead>
    
    <tbody id="TbodyGastos"> 
    </tbody>  
    
    <!-- <label>
        <select id="selectGastos" class="selector">
            <option value="fixos">Gastos Fixos</option>
            <option value="variaveis">Gastos Variaváis</option>
            <option value="impostos">Impostos e Seguros</option>
            <option value="cretitos">Cartão De Creditos</option>
            <option value="diversos">Diversos</option>
            <option value="financiamentos">financiamentos</option>
            <option value="emprestimos">Empréstimos</option>
        </select>  
        
        <input type="number" placeholder="divida" id="dividaGastos"></input> 
        <input type="number" placeholder="valor em % da divida" id="valorGastos"></input> 
        
        <button  id="addGastos">Adicionar Gastos </button> 
    </label>  -->
    
    <tfoot> 
        <td class="gastoskey">Total de Gastos :</td> 
        <td class="valueGastos" id="totalGastos" colspan="2">000000</td>   
    </tfoot>
    
</table>


